<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/foundation/5.0.2/css/foundation.min.css">
  <link type="text/css" rel="stylesheet" href="/css/styles.css" />
  <title>Bookmark manager</title>
</head>
  <body>

  <header>
    <h5><nav id="logo">Bookmark Manager</nav></h5>
    <%= partial :welcome_message %>
   </div>
  </header>

  <%= partial :flash %>
  <%= yield %>
  </body>
</html>
