<li class='link'>
  <a class='title' href="<%= link.url %>"><%= link.title %></a>
  <div class='description'>
    <%= link.description%>
  </div>
  <span class='source'>
    added yesterday by 
    <a href="#">evgeny@makersacademy.com</a>
  </span>
</li>
