body {
  background-image: url("/images/strange_bullseyes.png");
}

header {
  height: 74px;
  background-image: url("/images/dark_wall.png");
  color: white;
  display: flex; /* http://learnlayout.com/flexbox.html */
  padding: 0 20px;
}

header a {
  color: white;
  text-decoration: none;
}

#logo {
  color: white;
  font-size: 2.5em;
}

a.button {
  display: inline-block; /* display inline but have dimensions */
  width: 80px;
  background-color: #82B743;
  border: 2px solid white;
  color: white; /*text colour*/
  text-decoration: none; /*no underlining*/
  padding: 5px 10px;
  text-align: center;
  border-radius: 4px; /*rounded corners*/
  margin-left: 5px;
  margin-right: 5px;
  text-shadow: 0 0 2px rgba(0,0,0, 0.4); /*for readability*/
}

#welcome {
  color: white;
  margin: 1%;
  padding-left: 34%;
  font-size: 1.5em;
}

#sign-out-button {
  display: inline;
  padding: 1.5%;
}

#new-link {
  display: inline;
}
