<div id="new-link">
  <form action="/links" method="post">
    Url: <input type="text" name="url">
    Title: <input type="text" name="title">
    Description: <input type="text" name="description">
    Tag: <input type="text" name="tags">
    <input type="submit" value="Add link">
  </form>
</div>
