<h2>Please sign in.</h2>

<form method="post" action="/sessions">
  <input type="text", name="email" placeholder="Email">
  <input type="password", name="password" placeholder="Password">
  <input type="submit" class="button" value="Log in">
</form>

<a href='/users/forgot_password'>Forgot Password?</a>
