<h2>Please tell us your email address</h2>

<form action="/users/forgot_password" method="post">
  <input name="email" type="text" placeholder="Email">
  <input type="submit" class="button" value="Forgot my password">
</form>
