<h2>Please enter a new password for <%= @user.email %>: </h2>

<form action="/users/new_password" method="post">
  New Password:          <input name="password" type="password">
  Password Confirmation: <input name="password_confirmation" type="password">
                         <input type='hidden' name='token' value='<%=@user.password_token%>'>
                         <input type="submit" value="Reset my password">
</form>
