<h2>Please enter a new password for <%= @user.email %>: </h2>

<form action="/users/new_password" method="post">
  <input name="password" type="password" placeholder="New Password">
  <input name="password_confirmation" type="password" placeholder="Passowrd Confirmation">
  <input type='hidden' name='token' value='<%=@user.password_token%>'>
  <input type="submit" class="button" id="reset" value="Reset password">
</form>
