<!DOCTYPE html>
<html>
<head>
        <title>Bookmark manager</title>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/foundation/5.0.2/css/foundation.min.css">
</head>
<body>

  <%= partial :welcome_message %>
  <%= partial :flash %>

  <%= yield %>
</body>
</html>
